@tailwind base;
@layer base {
    img {
        @apply inline-block;
    }
}
@tailwind components;
@tailwind utilities;

:root {
    --bg1: #000000;
    --bg2: #222223;
    --bg3: #38383c;
    --bg4: #4f4f56;
    --color-warning: #b94768;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    color: #aaa;
}

.bg1 {
    background-color: var(--bg1);
}

.bg2 {
    background-color: var(--bg2);
}

.bg3 {
    background-color: var(--bg3);
}

.bg4 {
    background-color: var(--bg4);
}

.border-bg4 {
   border: 1px solid var(--bg4);
    border-radius: 4px;
}